@import "tailwindcss";

@custom-variant dark (&:where(.dark , .dark *));

@theme {
  --font-display: "inter", sans-serif; 
}

#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-display); 

  
}